<header>
    <h1>Filemanager cz.3 - file editor</h1>
</header>
<main data-root="{{root}}">
    <div class="left-menu">
        <div class="new-elements">
            <div class="color-button-div">
                <button class="main-button" onclick="colors()">-</button>
            </div>
            <button class="main-button" onclick="addFile()">Save config</button>
            <button class="main-button" onclick="renameFile('{{this.name}}')">Rename file</button>
        </div>
    </div>
    <div class="display-data">

    </div>
</main>