<header>
    <h1>Filemanager cz.1 - file system cz.1</h1>
</header>
<main>
    <div class="left-menu">
        <div class="new-elements">
            <button class="main-button" onclick="addFolder()">New folder</button>
            <button class="main-button">New file</button>
        </div>
        <div class="upload-files">
            <button class="main-button">Select files to upload</button>
            <button class="upload-button">Upload</button>
        </div>
    </div>
    <div class="display-data">
        <div class="folder-display-box">
            <h2>Folders</h2>
            <div class="folder-display"></div>
        </div>
        <div class="file-display-box">
            <h2>Files</h2>
            <div class="file-display"></div>
        </div>
    </div>
</main>