<header>
    <h1>Filemanager cz.1 - file system cz.1</h1>
</header>
<main>
    <div class="left-menu">
        <div class="new-elements">
            <button class="main-button" onclick="addFolder()">New folder</button>
            <button class="main-button" onclick="addFile()">New file</button>
        </div>
        <div class="upload-files">
            <form method="POST" action="/uploadMultipleFiles">
                <input type="file" multiple required accept="*" name="upload" class="main-button">
                <button class="upload-button" onclick="">Upload</button>
            </form>
        </div>
    </div>
    <div class="display-data">
        <div class="folder-display-box">
            <div class="headerDiv">
                <h2>Folders</h2>
            </div>
            <div class="folder-display">
                {{#each folders}}
                <div class="displayUpload">
                    <p>{{this}}</p>
                    <a href="/deleteDir">x</a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="file-display-box">
            <div class="headerDiv">
                <h2>Files</h2>
            </div>
            <div class="file-display">
                {{#each files}}
                <div class="displayUpload">
                    <p>{{this}}</p>
                    <a href="/deleteFile">x</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>