* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #F3F3F3;
}

header {
    padding: 20px;
    background-color: #FDFDFD;
}

h1 {
    color: blue;
    text-decoration: underline;
}

main {
    display: flex;
    background-color: #F3F3F3;
}

.main-button,
.upload-button {
    background: darkblue;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    margin: 10px;
    border: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button:hover {
    background: blue;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    margin: 10px;
    border: none;
    transition: 0.3s;
}

.new-elements,
.upload-files {
    display: flex;
    flex-direction: column;
    margin: 50px 10px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.upload-files {
    background-color: white;
}

.upload-button {
    background: lightgray;
    color: darkblue;
    transition: 0.3s;
}

.upload-button:hover {
    transition: 0.3s;
    background: gray;
}

.display-upload {
    width: 100%;
    display: flex;
    height: auto;
    margin: 10px 0;
    padding: 10px 80px;
    border-radius: 20px;
    background-color: white;
    justify-content: space-evenly;
    justify-content: space-between;
    transition: 0.5s;
}

.display-upload:hover {
    background-color: #EAEAEA;
    transition: 0.5s;
}

.display-data {
    width: 100%;
    padding-left: 10px;
}

h2 {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    background: #E1E1EB;
    color: darkblue
}

.headerDiv {
    padding: 15px;
    border-radius: 10px;
}

.e404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.folder-display,
.file-display {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px 30px;
}

img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.folder-display-box,
.file-display-box {
    background: #F9F9F9;
    padding: 20px;
}

.breadcrumb {
    margin: 10px 0;
}

.dataDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multiForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#upload {
    display: none;
}

.multi-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-window{
    display: flex;
}

#numering-column{
    width: auto;
    height: auto;
    background-color: white;
}

.edit-form{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
}

#edit-text{
    width: 50%;
    height: 300px;
}

#numering-column,
#edit-text {
    font-size: 18px;
    background-color: cornflowerblue;
    font-family: monospace;
    line-height: 1.5;
    border: 1px solid black;
    padding: 0 10px;
}

.color-button-div{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 200px;
}

.motive-button-secondary,
.motive-button-main {
    background: darkblue;
    color: whitesmoke;
    height: 50px;
    border: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
}

.motive-button-secondary:hover,
.motive-button-main:hover {
    background: cornflowerblue;
    color: whitesmoke;
    border: none;
    transition: 0.3s;
}